{{!-- DEFAULT VIEW --}}
{{#if deflt}}
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt voluptate hic exercitationem aspernatur qui in
    provident expedita molestias odio cupiditate obcaecati sint animi, molestiae voluptatem eum, nulla, ratione nobis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatum, repellendus et laudantium tempore
    quam temporibus saepe consequatur maiores quasi doloremque officia natus! Quod suscipit fugit animi ut quasi porro.
</p>
{{/if}}
{{#unless deflt}}
YOU SHOULD NOT SEE THIS
{{/unless}}