<div class="col-12 col-sm-12 col-md-6 col-lg-4  d-flex flex-wrap justify-content-center mini-container-width border border-secondary rounded-3 mt-4 bg-dark p-1">
    
    <div class="col-12 d-flex flex-wrap justify-content-center">
        <div class="col-6 text-center">
            <h2 class="mini-month">
                May
            </h2>
            <h3 class="mini-year">
                21
            </h3>
        </div>
    </div>
    
    <div id="mini-row-1" class="row row-cols-7 mt-5 mb-3 col-12 d-flex flex-wrap justify-content-center text-center">
        <div id="mini-1-col-1" class="col">1</div>
        <div id="mini-1-col-2" class="col">2</div>
        <div id="mini-1-col-3" class="col">3</div>
        <div id="mini-1-col-4" class="col">4</div>
        <div id="mini-1-col-5" class="col">5</div>
        <div id="mini-1-col-6" class="col">6</div>
        <div id="mini-1-col-7" class="col">7</div>
    </div>

    <div id="mini-row-2" class="row row-cols-7 mb-3 col-12 d-flex flex-wrap justify-content-center text-center">
        <div id="mini-2-col-1" class="col">8</div>
        <div id="mini-2-col-2" class="col">9</div>
        <div id="mini-2-col-3" class="col">10</div>
        <div id="mini-2-col-4" class="col">11</div>
        <div id="mini-2-col-5" class="col">12</div>
        <div id="mini-2-col-6" class="col">13</div>
        <div id="mini-2-col-7" class="col">14</div>
    </div>

    <div id="mini-row-3" class="row row-cols-7 mb-3 col-12 d-flex flex-wrap justify-content-center text-center">
        <div id="mini-3-col-1" class="col">15</div>
        <div id="mini-3-col-2" class="col">16</div>
        <div id="mini-3-col-3" class="col">17</div>
        <div id="mini-3-col-4" class="col">18</div>
        <div id="mini-3-col-5" class="col">19</div>
        <div id="mini-3-col-6" class="col">20</div>
        <div id="mini-3-col-7" class="col">21</div>
    </div>

    <div id="mini-row-4" class="row row-cols-7 mb-3 col-12 d-flex flex-wrap justify-content-center text-center">
        <div id="mini-4-col-1" class="col">22</div>
        <div id="mini-4-col-2" class="col">23</div>
        <div id="mini-4-col-3" class="col">24</div>
        <div id="mini-4-col-4" class="col">25</div>
        <div id="mini-4-col-5" class="col">26</div>
        <div id="mini-4-col-6" class="col">27</div>
        <div id="mini-4-col-7" class="col">28</div>
    </div>

    <div id="mini-row-5" class="row row-cols-7 mb-3 col-12 d-flex flex-wrap justify-content-center text-center">
        <div id="mini-5-col-1" class="col">29</div>
        <div id="mini-5-col-2" class="col">30</div>
        <div id="mini-5-col-3" class="col">31</div>
        <div id="mini-5-col-4" class="col">0</div>
        <div id="mini-5-col-5" class="col">0</div>
        <div id="mini-5-col-6" class="col">0</div>
        <div id="mini-5-col-7" class="col">0</div>
    </div>

</div>