<div class="col-12 d-flex flex-wrap justify-content-center">

    <div class="col-12 text-center" style="height: 150px;">
        <h1 id="task-title" class="text-white my-4">Create a New Task</h1>
        <div id="task-alert" class="col-12 text-center collapse" style="height: 150px;">
            <h3 class="text-danger my-4 text-center">Fields Cannot Be Blank!</h3>
        </div>
    </div>

    <div class="col-6">
        {{! HIDDEN CONFIRMATION BOX }}
        <div id="reminder-check" class="collapse">
            <div class="card text-center text-white bg-dark shadow mb-5">
                <div class="card-header bg-success border-success">
                    SUCCESS!
                </div>
                <div class="card-body">
                    <h5 id="success-title"class="card-title">Your event has been created!</h5>
                    <p class="card-text">Would you like to add a reminder?</p>
                    <a id='yes-btn' href="" class="btn btn-success me-2 border border-secondary shadow">Yes</a>
                    <a href="/dashboard" class="btn btn-danger border border-secondary shadow">No </a>
                </div>
            </div>
            {{! END HIDDEN BOX }}
        </div>

        {{!-- HIDDEN REMINDER FORM --}}
        <div id="reminder-div" class="collapse">
            <div class="row bg-dark">

                <div class="col-md-6">
                    <label for="period" class="form-label text-white">How long before?</label>
                    <select name="period" id="reminder-period" class=" form-select bg-dark text-white">
                        <option value="days" class="bg-dark text-white">Days Before</option>
                        <option value="hours" class="bg-dark text-white">Hours Before</option>
                        <option value="minutes" class="bg-dark text-white">Minutes Before</option>
                    </select>
                </div>

                <div class="col-md-6 mb-5">
                    <label for="reminder-time" class="form-label text-white">Select a value</label>
                    <input type="number" name="reminder-time" class="form-control bg-dark text-white" id="reminder-time"
                        min="1" max="120" />
                </div>

                <div class="col-12">
                    <button id="create-reminder-btn" data-event_id=" " class="btn btn-info text-white shadow">Add
                        Reminder</button>
                </div>
            </div>
        </div>

        {{!-- END REMINDER FORM --}}
        <div id="form" class="">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="date" class="form-label text-white">Select Date</label>
                    <input type="date" class="form-control bg-dark text-white" id="date" />
                </div>
                <div class="col-md-6">
                    <label for="time" class="form-label text-white">Enter Time</label>
                    <input type="time" class="form-control bg-dark text-white" id="time" />
                </div>
                <div class="col-12">
                    <label for="title" class="form-label text-white">Enter Event Name</label>
                    <input type="text" class="form-control bg-dark text-white" id="title" placeholder="Meet Bill" />
                </div>
                <div class="col-12">
                    <label for="description" class="form-label text-white">Enter Event
                        Description</label>
                    <input type="text-area" class="form-control bg-dark text-white" id="description"
                        placeholder="Coffee and bagels" />
                </div>
                <div class="col-md-6">
                    <label for="category" class="form-label text-white">Select a Category</label>
                    <select name="category" id="category" class=" form-select bg-dark text-white">
                        <option value="1" class="bg-dark text-white">Medical</option>
                        <option value="2" class="bg-dark text-white">Travel</option>
                        <option value="3" class="bg-dark text-white">Personal</option>
                        <option value="4" class="bg-dark text-white">Other</option>
                    </select>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="important" />
                        <label class="form-check-label text-white" for="important">
                            Check this box for events that can't be missed
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button id="create-task-btn" data-user_id="{{user_id}}"
                        class="btn btn-info text-white shadow">Create
                        Task</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script>
<script src="assets/javascript/utils/create-task.js"></script>
<script src="assets/javascript/utils/create-reminder.js"></script>