<!-- ROW FOR MONTH -->
<div class="row">
    <div class="col">
        1 of 3
    </div>
    <div class="col">
        2 of 3
    </div>
    <div class="col">
        3 of 3
    </div>
</div>
<!-- END ROW FOR MONTH -->

<!-- ROW FOR DAILY LINE-UP -->
<div class="row">
    <div class="col">
        1 of 2
    </div>
    <div class="col">
        2 of 2
    </div>
</div>
<!-- END DAILY ROW -->