<!-- ROW FOR HERO -->
<div class="row p-3 bg-dark">
    <div class="col d-flex flex-wrap justify-content-center  border border-info shadow hero-bg">
        <!-- BEGIN HERO -->
        <section class="my-3 d-flex flex-wrap justify-content-center blk-filter p-3 ">
            <div class='col-12 my-4'>
                <h1 class="hero-title txt-shw-blk text-center">Welcome to My Calendar!</h1>
            </div>
            <div class='col-6 d-flex flex-column justify-content-between my-4'>
                <h2 class="hero-date txt-shw-blk">Friday, May 7<sup>th</sup></h2>
                <h3 class="hero-date txt-shw-blk">Current Time</h3>
            </div>
            <div class='col-6 hero'>

            </div>
            <div class="d-grid gap-2 col-4 mx-auto my-4">
                <button id="login-btn" class="sign-in-btn txt-shw-blk mt-5" type="button">LOG IN</button>
                <button id="sign-up-btn" class="sign-up-btn txt-shw-blk" type="button">SIGN UP</button>
            </div>
        </section>
        <!-- END HERO -->
    </div>
</div>
<script src="assets/javascript/homepage.js"></script>
<!-- END ROW FOR HERO -->