<div class="col-12 d-flex flex-wrap justify-content-center">
    <div>
        <div class="col-12" style="height: 150px;">
            <h1 class="text-white my-4">SIGN UP</h1>
        </div>
        <form>
            <div class="mb-3">
                <label for="email1" class="form-label text-white">Email address</label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp"
                    placeholder="name@email.com">
                <div id="emailHelp" class="form-text text-danger"> </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label text-white">Username</label>
                <input type="text" class="form-control" id="username" placeholder="User123">
                <div id='userHelp' class="form-text text-danger"> </div>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label text-white">Password</label>
                <input type="password" class="form-control" id="password1" placeholder="enter a password">
                <div id='passHelp' class="form-text text-danger"> </div>
            </div>
            <div class="mb-3">
                <label for="telephone" class="form-label text-white">Enter your phone number if you'd like to receive text reminders for events<br><br>Optional*</label>
                <input type="tel" class="form-control" id="telephone" placeholder="1555-555-5555">
                <div id='phoneHelp' class="form-text text-danger"> </div>
            </div>
            <button id="submit-sgn-btn"type="btn" class="btn btn-info text-white my-5">Submit</button>
        </form>
    </div>
</div>

<script src="assets/javascript/utils/sign-up.js"