<!-- ROW FOR HERO -->
<div class="row bg-dark">
    <div class="col hero d-flex flex-column justify-content-center">
        <!-- BEGIN HERO -->
        <section class="my-3  d-flex flex-wrap justify-content-center blk-filter p-3">
            <div class='col-8 my-4 text-center text-info'>
                <h1 class="hero-title txt-shw-blk">Welcome to My Calendar!</h1>
            </div>
            <div class='col-12 my-4 text-center '>
                <h2 class="hero-date txt-shw-blk">Today is: Friday May 7<sup>th</sup>, 2021 <br>
                    Current time: 7:04 PM</h2>
            </div>
            <div class="d-grid gap-2 col-4 mx-auto my-4">
                <button class="sign-in-btn txt-shw-blk" type="button">LOG IN</button>
                <button class="sign-up-btn txt-shw-blk" type="button">SIGN UP</button>
            </div>
        </section>
        <!-- END HERO -->
    </div>
</div>
<!-- END ROW FOR HERO -->