
/* UTIL STYLES */
.txt-shw-blk{
    text-shadow: black 1px 1px 1px;
}
/* .blk-filter{
    background-color: rgba(0,0,0,.5);
} */
/* END UTIL */

/* NAV */
.nav-style{
    color: rgb(255, 255, 255);
}
.nav-style:hover{
    color: rgba(11, 112, 206, 1);
    text-decoration-line: underline;
}
/* END NAV */

/* HERO */
.hero {
    background-image: url("/assets/images/calendar_logo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;

}
.hero-bg{
    background-color: rgb(28, 35, 46);
    border-radius: 15px;
}
.sign-up-btn, .sign-in-btn{
    padding: 5px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
}
.sign-in-btn{
    color: seashell;
    background-color: rgba(11, 206, 44, 0.6);
    border: 1px solid rgba(11, 206, 44, 0.6);
}
.sign-in-btn:hover{
    color: seashell;
    background-color: rgba(11, 206, 44, 1);
    border: 1px solid rgba(11, 206, 44, 0.6);
    text-decoration-line: underline;
}
.sign-up-btn{
    color: seashell;
    background-color: rgba(11, 112, 206, 0.6);
    border: 1px solid rgba(11, 112, 206, 0.6);
}
.sign-up-btn:hover{
    color: seashell;
    background-color: rgba(11, 112, 206, 1);
    border: 1px solid rgba(11, 112, 206, 0.6);
    text-decoration-line: underline;
}

.hero-title, .hero-date{
    color: seashell;
    font-size: 45px;
    font-weight: 400;
}
.hero-date{
    font-size: 35px;
}
/* END HERO */